<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center>¿Qué negocio necesitas hoy?</h3>
    <button ion-button full>Buscar</button>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</ion-content>
